.textBlock {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.textBlock__title {
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    color: #fff;
}

.textBlock__text_weight_bold {
    font-weight: bold;
}

.textBlock__title_status_error {
    color: red;
}

